.alert {
    background-color: rgba(0,0,0,0.3);
    border-left: 3px solid rgba(0,0,0,0.6);
    padding: .8em 1em;
    margin: 1em;
}

.alert-clickable,
.alert[onclick]{
    cursor: pointer;
}

.alert-fixed {
    position: fixed;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.alert-success {
    background-color: #203f12;
    border-color: #54833c;
    color: #d0e4c6;
}

.alert-success a {
    color: #d0e4c6;
}

.alert-success strong {
    color: #a4cc90;
}

.alert-danger {
    background-color: #291212;
    border-color: #854c4c;
    color: #e3c4c4;
}

.alert-danger a {
    color: #e3c4c4;
}

.alert-danger strong {
    color: #d39292;
}

.alert-info {
    background-color: #121e29;
    border-color: #4c6b85;
    color: #c4d5e3;
}

.alert-info a {
    color: #c4d5e3;
}

.alert-info strong {
    color: #92b3d3;
}
