:root {
    --primary-background-color: #252525;
    --secondary-background-color: #222222;

    --primary-text-color: #f0f0f0;
    --secondary-text-color: #dadada;

    --primary-theme-color: #bd5e11;
    --secondary-theme-color: #9c4b09;
    --dark-theme-color: #211e1b;
    --sdark-theme-color: #312b26;

    --primary-twitch-color: #9147ff;
    --secondary-twitch-color: #7329e2;
    --dark-twitch-color: #552996;

    --primary-discord-color: #525ee6;
    --secondary-discord-color: #404ccf;
    --dark-discord-color: #2e379c;

    --primary-steam-color: #1b2838;
    --secondary-steam-color: #0f1824;
    --dark-steam-color: #030508;

    --shadow: 2px 2px 8px rgba(0,0,0,0.2);

    --green: #58b858;
}

body {
    font-family: 'Roboto Slab', serif;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);

    margin: 0;
    padding: 0;

    background: url("/assets/images/banners/01_original.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    min-height: 100%;
}

.wrapper {
    width: calc(100% - 2em);
    max-width: 75em;
    background-color: var(--secondary-background-color);
    padding: 1rem;
    margin: 18em auto 1em auto;
    box-shadow: var(--shadow);
    border-radius: 2px;
}

.wrapper.wrapper-small {
    max-width: 35em;
}

a {
    color: var(--secondary-text-color);
}

p {
    margin: .5em 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inknut Antiqua', serif;
    line-height: 100%;
    margin: .2em 0;
}

h2 {
    background-color: rgba(0,0,0,0.1);
    border-bottom: 2px solid var(--primary-theme-color);
    padding: .6em .8em;
}

header {
    margin: -1rem -1rem 0 -1rem;
    background-color: var(--dark-theme-color);
    border-radius: 2px 2px 0 0;
}

header .heading {
    display: flex;
    padding: 1rem 1rem;
    justify-content: center;
    align-items: center;
}

header h1 {
    flex-grow: 1;
}

header img.icon {
    margin-right: .6em;
    width: 240px;
    height: 240px;
    position: absolute;
    top: 2em;
    left: 50%;
    transform: translateX(-50%)
}

.account,
.login {
    display: block;
    height: 2.5em;
    padding: .25em .75em .25em .25em;
    border-radius: 1.5em;
    background-color: var(--primary-theme-color);
    color: var(--primary-text-color);
    text-decoration: none;
    box-shadow: var(--shadow);
    text-shadow: var(--shadow);
}

.account img,
.account div,
.login img,
.login div {
    display: inline-block;
    background-color: var(--secondary-theme-color);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    vertical-align: middle;
    margin-right: .5rem;
    box-shadow: var(--shadow);
}

.login-discord {
    background-color: var(--primary-discord-color);
}

.login-twitch {
    background-color: var(--primary-twitch-color);
}

.login-steam {
    background-color: var(--primary-steam-color);
}

.login div {
    font-size: 1.2rem;
    position: relative;
}

.login-discord div {
    background-color: var(--secondary-discord-color);
}

.login-twitch div {
    background-color: var(--secondary-twitch-color);
}

.login-steam div {
    background-color: var(--secondary-steam-color);
}

.login div i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header nav {
    background-color: var(--primary-theme-color);
    overflow-x: auto;
    overflow-y: hidden;
}

header nav ul {
    list-style-type: none;
    margin: 0 .5em;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin: 0;
}

header nav a {
    position: relative;
    display: block;
    text-decoration: none;
    color: var(--primary-text-color);
    padding: .4rem .5rem;
    text-wrap: nowrap;
}

header nav a::after {
    background-color: var(--secondary-background-color);
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px 2px 0 0;
    transition: .35s;
}

header nav a.active::after {
    width: 80%;
}

header nav a:hover::after {
    width: 100%;
}

footer {
    text-align: center;
    color: var(--secondary-text-color);
    font-size: .8rem;
}

nav.socials ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: .6em 0 0 0;
    padding: 0;
}

nav.socials ul li a {
    display: block;
    padding: .4em .6em;
    font-size: 1.4em;
    color: var(--primary-text-color);
    transition: 0.25s;
    text-shadow: var(--shadow);
}

nav.socials ul li a:focus,
nav.socials ul li a:hover {
    color: var(--secondary-theme-color);
}

p.welcome {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    opacity: .8;
}

span[aria-label],
a[aria-label]:not(.notooltip) {
    position: relative;
}

span[aria-label]::after,
a[aria-label]:not(.notooltip)::after {
    font-size: .9rem;
    content: attr(aria-label);
    text-decoration: none;
    background-color: var(--secondary-theme-color);
    border: rgba(0,0,0,0.2);
    color: var(--primary-text-color);
    padding: .3rem .5rem;
    position: absolute;
    top: -1.25rem;
    left: 50%;
    transform: translateX(-50%) scale(.8);
    box-shadow: var(--shadow);
    border-radius: 4px;
    text-wrap: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: 0.25s;
}

span[aria-label]:hover::after,
a[aria-label]:not(.notooltip):hover::after,
span[aria-label]:focus::after,
a[aria-label]:not(.notooltip):focus::after {
    visibility: visible;
    opacity: 1;
    top: -1.75rem;
    transform: translateX(-50%) scale(1);
}

ol.rules {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.1em;
}

ol li {
    display: flex;
    vertical-align: middle;
    margin: .5em 0;
}

ol div.num {
    position: relative;
    background-color: var(--primary-theme-color);
    font-family: 'Inknut Antiqua', serif;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    margin-right: .5rem;
    font-size: 1.1em;
    flex-shrink: 0;
}

ol div.num span {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ol div.rule {
    background-color: var(--dark-theme-color);
    flex-grow: 1;
    padding: .5em;
}

code {
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 2px;
    padding: .2em .4em;
    text-wrap: nowrap;
}

code.full {
    display: block;
    margin: .5em 0;
}

section {
    margin: .8em;
}

@media only screen and (max-width: 600px) {
    header h1 {
        font-size: 1.5em;
    }
}
