.user-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

pre.description {
    font-family: "Roboto Slab", serif;
    border-left: 3px solid var(--secondary-theme-color);
    padding: .4em .8em;
    white-space: wrap;
}
