.user {
    display: flex;
    
    color: var(--primary-text-color);
    background-color: var(--dark-theme-color);
    text-decoration: none;

    padding: .6em;
    margin: .6em 0;

    border-left: 3px solid var(--primary-theme-color);
    border-radius: 1px;
}

.user img {
    width: 5em;
    height: 5em;
    border-radius: 2.5em;
    margin-right: 1em;
}

.user .info {
    flex-grow: 1;
    text-align: left;
}

.user .info .data {
    color: var(--secondary-text-color);
}

.user .info .data span.b {
    opacity: .7;
}

.user h3 {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

.discord-mention {
    background-color: #3c4270;
    color: #d6daff;
    padding: .1em .2em;
    border-radius: 3px;
}
