.object {
    display: flex;
    
    color: var(--primary-text-color);
    background-color: var(--dark-theme-color);
    text-decoration: none;

    padding: .6em;
    margin: .6em;

    border-left: 3px solid var(--primary-theme-color);
    border-radius: 1px;
}

.object .info {
    flex-grow: 1;
}

.object h3 {
    font-size: 1.8em;
    margin: .25em 0 .4em 0;
    padding: 0;
}

.object .info .data {
    color: var(--secondary-text-color);
}

.object .info .data span.b {
    opacity: .7;
}

.object img {
    margin-right: 1em;
}

.user img {
    width: 5em;
    height: 5em;
    border-radius: 2.5em;
}

.user-discord {
    border-color: var(--primary-discord-color);
}

.user-twitch {
    border-color: var(--primary-twitch-color);
}

.user-steam {
    border-color: var(--primary-steam-color);
}

.server img {
    width: 108px;
    height: 144px;
}

.discord-mention > div {
    display: flex;
    visibility: hidden;

    padding: .6em;
    border-radius: 3px;

    position: absolute;
    bottom: 1.5em;
    left: 50%;
    transform: translateX(-50%) scale(.95);

    background-color: var(--primary-background-color);
    box-shadow: var(--shadow);
    border-left: 4px solid var(--primary-discord-color);
    opacity: 0;
    z-index: 100;

    transition: .25s;
}

.discord-mention:focus-within > div,
.discord-mention:hover > div {
    visibility: visible;
    bottom: 2em;
    opacity: 1;
    transform: translateX(-50%) scale(1);
}

.discord-mention img {
    width: 5em;
    height: 5em;
    margin-right: 1em;
    border-radius: 2.5em;
}

.discord-mention .username {
    color: var(--primary-text-color);
    margin-bottom: .15em;
    font-size: 2.2rem;
}

.discord-mention {
    display: inline-block;
    position: relative;
    background-color: #3c4270;
    color: #d6daff;
    padding: .1em .2em;
    border-radius: 3px;
}

.discord-mention::before {
    content: "@";
}
