<!DOCTYPE html>
<html lang="en">
<head>

<%- include("../partials/head") %>

    <link rel="stylesheet" href="/assets/css/map.css">

    <title>Map - The Adventurers Guild</title>
</head>
<body>
    <h1>The map is loading. Please wait!</h1>
    <iframe src="https://www.google.com/maps/d/embed?mid=1r8Q-om37Y9xGsiC47xWCNup8fPF13ws&ehbc=2E312F" width="100%" height="100%"></iframe>
    <a href="/" class="back notooltip" aria-label="Return Home"><i class="fa-solid fa-house"></i></a>
</body>
</html>