<!DOCTYPE html>
<html lang="en">
<head>

<%- include("../partials/head") %>

    <link rel="stylesheet" href="/assets/css/form.css">
    <link rel="stylesheet" href="/assets/css/map.css">
    <link rel="stylesheet" href="/assets/css/alert.css">

    <script src="/assets/js/map.js"></script>

    <title>Map - The Illumindal Guild</title>
</head>
<body>
    <h1>The map is loading. Please wait!</h1>
    <iframe src="https://www.google.com/maps/d/embed?mid=1r8Q-om37Y9xGsiC47xWCNup8fPF13ws&ehbc=2E312F" width="100%" height="100%"></iframe>
    <div id="add-map" style="display: none;">
        <form method="POST" action="/map">
            <h2>Add Location</h2>

            <label class="form-group">
                Username
                <input type="text" name="username" id="username" required="required" minlength="2" maxlength="30" placeholder="Twijn">
            </label>

            <label class="form-group">
                Location
                <input type="text" name="location" id="location" required="required" minlength="2" maxlength="100" placeholder="Charleston, SC, USA">
                <small>Please be non-specific! Only include (at most) the closest larger city. Just a state/province/etc. will suffice as well!</small>
            </label>

            <input type="submit" class="button" value="Request Addition">
        </form>
    </div>
    <nav class="map">
        <ul>
            <li><a href="/" class="back notooltip" aria-label="Return Home"><i class="fa-solid fa-house"></i></a></li>
            <li><a href="#" class="add notooltip" aria-label="Add Location"><i class="fa-solid fa-plus"></i></a></li>
        </ul>
    </nav>
    <% if (success) { %>
    <div class="alert alert-success alert-fixed alert-clickable">
        <strong>Success!</strong>
        <br>
        The location request was successfully sent! Please wait a couple days and check back for your location on the map!
    </div>
    <% } if (error) { %>
    <div class="alert alert-error alert-fixed alert-clickable">
        <strong>An error occurred!</strong>
        <br>
        <%= error %>
    </div>
    <% } %>
</body>
</html>