<footer>
    <p>
        &copy; 2017-<%= (new Date()).getFullYear() %> The Adventurers Guild
    </p>
    <p>
        All game art and logos are property of their respective copyright owners.
        <br>
        The Adventurers Guild has no affiliation with Twitch, Discord, or any other mentioned organizations.
    </p>
</footer>
