<nav class="socials">
    <ul>
        <li><a href="/youtube" aria-label="YouTube" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
        <li><a href="/discord" aria-label="Discord" target="_blank"><i class="fa-brands fa-discord"></i></a></li>
        <li><a href="/guilded" aria-label="Guilded" target="_blank"><i class="fa-brands fa-guilded"></i></a></li>
        <li><a href="/x" aria-label="X" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
        <li><a href="/map" aria-label="Adventurer's Map"><i class="fa-solid fa-map-location-dot"></i></a></li>
    </ul>
</nav>
